@{
    ViewBag.Title = "Home Page";
}

<h2>Iniciar Sesión</h2>

<form method="post" action="/Usuario/Login">
    <div>
        <label for="Correo">Correo electrónico:</label>
        <input type="email" name="correo" required />
    </div>
    <div>
        <label for="Contraseña">Contraseña:</label>
        <input type="password" name="contraseña" required />
    </div>
    <div>
        <input type="submit" value="Iniciar Sesión" />
    </div>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}